<div class="login-container">
  <h2>Reset Password</h2>
  <form action="/api/sessions/reset-password" method="POST">
    <input type="hidden" name="token" value="{{token}}" />
    <label for="password" class="form-label">New Password:</label>
    <input type="password" name="password" class="form-control" required />
    <button type="submit" class="btn btn-login" id="reset-button">Reset Password</button>
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/public/js/resetPassword.js"></script>